# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env .env*.local

# typescript
*.tsbuildinfo

# Python
.venv/

.env*

# SSH keys (NIGDY nie commituj kluczy prywatnych!)
*.ppk
id_rsa
id_rsa.pub
*.pem
*.key