aiosmtplib
alembic
annotated-types
anyio
bcrypt
blinker
click
colorama
dnspython
ecdsa
email_validator
fastapi
fastapi-mail
greenlet
h11
idna
Jinja2
Mako
MarkupSafe
passlib
psycopg2-binary
pyasn1
pydantic
pydantic_core
pydantic-settings
PyJWT
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
typing-inspection
uvicorn