aiosmtplib
alembic
annotated-types
anyio
bcrypt
blinker
click
colorama
dnspython
ecdsa
email_validator
fastapi==0.104.1
fastapi-mail==1.4.1
greenlet
h11
idna
Jinja2
Mako
MarkupSafe
passlib
psycopg2-binary
pyasn1
pydantic==2.5.0
pydantic_core==2.14.5
pydantic-settings==2.1.0
PyJWT
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy==2.0.23
starlette==0.27.0
typing_extensions==4.9.0
typing-inspection==0.4.0
uvicorn==0.24.0